/SVPAlib/target/
/SVPALib/*.iml
/BooleanAlgebras/target/
/TestSVPA/target/
/TestSVPA/*.iml
/TestSVPA/*.dot
/TestSVPA/*.pdf
/TestSVPA/*.txt
automatark/*.iml
automatark/Parsers/*.iml
*.dot
*.iml
*.ipr
*.iws

BooleanAlgebras/bin/test/TestCharTheory.class
BooleanAlgebras/bin/theory/CharConstant.class
BooleanAlgebras/bin/theory/CharFunc.class
BooleanAlgebras/bin/theory/CharOffset.class
BooleanAlgebras/bin/theory/CharPred$1.class
BooleanAlgebras/bin/theory/CharPred.class
BooleanAlgebras/bin/theory/CharSolver.class
BooleanAlgebras/bin/theory/StdCharPred.class
SVPAlib/bin/automata/AutomataException.class
SVPAlib/bin/automata/Automaton.class
SVPAlib/bin/automata/Move.class
SVPAlib/bin/automata/sfa/SFA.class
SVPAlib/bin/automata/sfa/SFAEpsilon.class
SVPAlib/bin/automata/sfa/SFAInputMove.class
SVPAlib/bin/automata/sfa/SFAMove.class
SVPAlib/bin/automata/svpa/Call.class
SVPAlib/bin/automata/svpa/Internal.class
SVPAlib/bin/automata/svpa/Return.class
SVPAlib/bin/automata/svpa/ReturnBS.class
SVPAlib/bin/automata/svpa/SVPA.class
SVPAlib/bin/automata/svpa/SVPAEpsilon.class
SVPAlib/bin/automata/svpa/SVPAMove.class
SVPAlib/bin/automata/svpa/Tag.class
SVPAlib/bin/automata/svpa/TaggedSymbol$SymbolTag.class
SVPAlib/bin/automata/svpa/TaggedSymbol.class
SVPAlib/bin/automata/svpa/VPAutomaton.class
SVPAlib/bin/theory/BooleanAlgebra.class
SVPAlib/bin/theory/BooleanAlgebraSubst.class
SVPAlib/bin/transducers/sst/CharConstant.class
SVPAlib/bin/transducers/sst/CharFunction.class
SVPAlib/bin/transducers/sst/ConstantToken.class
SVPAlib/bin/transducers/sst/FunctionalVariableUpdate.class
SVPAlib/bin/transducers/sst/OutputUpdate.class
SVPAlib/bin/transducers/sst/SimpleVariableUpdate.class
SVPAlib/bin/transducers/sst/SST.class
SVPAlib/bin/transducers/sst/SSTEpsilon.class
SVPAlib/bin/transducers/sst/SSTInputMove.class
SVPAlib/bin/transducers/sst/SSTMove.class
SVPAlib/bin/transducers/sst/SSTVariable.class
SVPAlib/bin/transducers/sst/Token.class
SVPAlib/bin/transducers/sst/VariableAssignment.class
SVPAlib/bin/transducers/sst/VariableUpdate.class
SVPAlib/bin/utilities/BitVecUtil.class
SVPAlib/bin/utilities/Block.class
SVPAlib/bin/utilities/DeepClone.class
SVPAlib/bin/utilities/IntegerPair.class
SVPAlib/bin/utilities/Pair.class
TestSVPA/.gitignore
TestSVPA/bin/test/SFA/SFAUnitTest.class
TestSVPA/bin/test/SST/DReXUnitTest.class
TestSVPA/bin/test/SST/SSTUnitTest.class
TestSVPA/bin/test/SVPA/SVPAUnitTest.class
BooleanAlgebras/.settings/org.eclipse.core.resources.prefs
TestSVPA/.settings/org.eclipse.core.resources.prefs
BooleanAlgebras/.settings/org.eclipse.jdt.core.prefs
TestSVPA/.settings/org.eclipse.jdt.core.prefs
*.mona
EquivalenceOf2to3.txt
EquivalenceOf2to3Self.txt
.settings/org.eclipse.m2e.core.prefs
SVPAlib/.settings/org.eclipse.m2e.core.prefs
TestSVPA/.settings/org.eclipse.m2e.core.prefs
SVPABenchmark/results/emptiness.csv
SVPABenchmark/results/emptinessBDD.csv
.DS_Store
.idea/
SVPABenchmark/.DS_Store
SVPABenchmark/SVPABenchmark.iml
SVPAlib/.DS_Store
SVPAlib/SVPAlib.iml
TestSVPA/.DS_Store
TestSVPA/TestSVPA.iml
TestSVPA/src/.DS_Store
TestSVPA/src/test/.DS_Store
symbolicautomata.iml
